# Попытка все оформить

## Функция условной вероятности

In [1]:
import pandas as pd


def compute_cond_prob(rand_var_name, cond_var_name, rand_var_value, cond_var_value, df):
    """
    Computes the conditional probability
            P(rand_var_name = rand_var_value | cond_var_name = cond_var_value)
    
    :param rand_var_name: first parameter name
    :param cond_var_name: second parameter name
    :param rand_var_value: 1 or 0
    :param cond_var_value: 1 or 0
    :param df: dataframe
    """
    prob = pd.crosstab(df[rand_var_name], df[cond_var_name], normalize='columns')[cond_var_value][rand_var_value]
    return prob

## Полезные параметры

Переименование столбцов в stats.csv

In [35]:
nexus_ = pd.read_csv("./nexus.csv")
param_names = nexus_.columns.values.tolist()
param_names = param_names[2:]


stats_ = pd.read_csv("./stats.csv")
stats_['level-2'].value_counts(dropna=False)[0]

143

Теперь сами списки

In [3]:
useful = list()
useless0 = list()
useless1 = list()

for name in param_names:
    unique_values = set(data[name].tolist())
    if unique_values & set("01") == set("01"):
        useful.append(name)
    if unique_values & set("01") == set("0"):
        useless0.append(name)
    if unique_values & set("01") == set("1"):
        useless1.append(name)

print(len(param_names))
print((len(useful), len(useless0), len(useless1)))

78
(71, 2, 5)

In [4]:
print(useless0)

['20a', '20b']

In [5]:
print(useless1)

['17b', '17c', '18a', '21b', '24a']

## Запись всех условных вероятностей в отдельный файл

In [9]:
raw_list = list()

for rand_var in useful:
    for cond_var in useful:
        if rand_var != cond_var:
            a = compute_cond_prob(rand_var, cond_var, "0", "0", data)
            b = compute_cond_prob(rand_var, cond_var, "1", "0", data)
            c = compute_cond_prob(rand_var, cond_var, "0", "1", data)
            d = compute_cond_prob(rand_var, cond_var, "1", "1", data)
            raw_list.append([rand_var + "-0", cond_var + "-0", a])
            raw_list.append([rand_var + "-1", cond_var + "-0", b])
            raw_list.append([rand_var + "-0", cond_var + "-1", c])
            raw_list.append([rand_var + "-1", cond_var + "-1", d])

cond_probs = pd.DataFrame(raw_list, columns=['X','Y','Z'])
cond_probs.pivot(index='X', columns='Y', values='Z')
cond_probs

          X      Y         Z
0      10-0   11-0  0.822581
1      10-1   11-0  0.177419
2      10-0   11-1  0.000000
3      10-1   11-1  1.000000
4      10-0  12a-0  0.603175
...     ...    ...       ...
19875   9-1   8d-1  0.229167
19876   9-0   8e-0  0.428571
19877   9-1   8e-0  0.142857
19878   9-0   8e-1  0.185185
19879   9-1   8e-1  0.203704

[19880 rows x 3 columns]

In [10]:
cond_probs = cond_probs.pivot(index='X', columns='Y', values='Z')

In [11]:
comfortable_cond_probs= pd.read_csv("./Cond_Probs")
comfortable_cond_probs.dtypes

X        object
10-0    float64
10-1    float64
11-0    float64
11-1    float64
         ...
8d-1    float64
8e-0    float64
8e-1    float64
9-0     float64
9-1     float64
Length: 143, dtype: object